<!DOCTYPE html>
<html>
<head>
    <title>Catalog App</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>

</head>
<body>
    <div class="container">
        <nav class="row">
            <div class="col-md-5 title">
                <a href="{{url_for('main')}}">Catalog App</a>
            </div>
            <div class="col-md-7 login-header">
                {%if 'username' not in session%}
                <a id="login-button" href="{{url_for('showLogin')}}">Login</a>
                {%else%}
                <div>
                    Hello, {{session.username}} | 
                    <a href="{{url_for('disconnect')}}">Logout</a>    
                </div>
                
                {%endif%}
            </div>
        </nav>
        {%block content%}{%endblock%}
        
    </div>
    
    
    

</body>
</html>